<ActionBar title="Brunch at McDonut" class="action-bar"></ActionBar>
<ScrollView>
    <StackLayout width="100%" class="default-container">
        <FlexboxLayout flexDirection="row">
            <Image src="~/Assets/food-and-beverage-category.png" class="category-icon-detail"></Image>
            <Label text="Rp 177.000" class="price-detail"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row" class="description-text">
            <Label text="Added by "></Label>
            <Label text="Yura" class="lender-name"></Label>
            <Label text=" on October 19, 2018 "></Label>
        </FlexboxLayout>
        <StackLayout orientation="vertical" class="detail-section">
            <Label text="Paid by" class="detail-section__title"></Label>
            <GridLayout columns="auto, *, auto" rows="auto, auto, auto">
                <Image src="~/Assets/yura.png" class="detail-photo" row="0"
                    col="0"></Image>
                <Label text="Yura" row="0" col="1"></Label>
                <Label text="Rp 100.000" class="paid-price" row="0" col="2"></Label>
                <Label row="1" col="0" colSpan="3" height="10"></Label>
                <Image src="~/Assets/brian.png" class="detail-photo" row="2"
                    col="0"></Image>
                <Label text="Brian" row="2" col="1"></Label>
                <Label text="Rp 77.000" class="paid-price" row="2" col="2"></Label>
            </GridLayout>
        </StackLayout>
        <StackLayout orientation="vertical" class="detail-section">
            <Label text="Who owes to whom?" class="detail-section__title"></Label>
            <GridLayout columns="auto, auto, auto, *, auto" rows="auto, auto, auto,auto, auto, auto">
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="0" col="0">
                    <Image src="~/Assets/me.png" class="detail-photo no-margin"></Image>
                    <Label text="You" textAlignment="center" class="owe-name"></Label>
                </StackLayout>
                <Image verticalAlignment="top" src="~/Assets/right-arrow.png"
                    class="owe-arrow" row="0" col="1"></Image>
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="0" col="2">
                    <Image src="~/Assets/brian.png" class="detail-photo no-margin"></Image>
                    <Label text="Brian" textAlignment="center" class="owe-name"></Label>
                </StackLayout>
                <Label verticalAlignment="top" text="Rp 39.000" row="0" col="3"
                    class="detail-owe-ammount owe"></Label>
                <Button verticalAlignment="top" text="Settle Up" row="0" col="4"
                    tap="" class="default-button"></Button>
                <Label row="1" col="0" colSpan="5" height="10"></Label>
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="2" col="0">
                    <Image src="~/Assets/ashley.png" class="detail-photo no-margin"></Image>
                    <Label text="Ashley" textAlignment="center" class="owe-name"></Label>
                </StackLayout>
                <Image verticalAlignment="top" src="~/Assets/right-arrow.png"
                    class="owe-arrow" row="2" col="1"></Image>
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="2" col="2">
                    <Image src="~/Assets/brian.png" class="detail-photo no-margin"></Image>
                    <Label text="Brian" textAlignment="center" class="owe-name"></Label>
                </StackLayout>
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="2" col="3" colSpan="2" class="detail-owe-ammount">
                    <Label text="Rp 2.000" class="settle"></Label>
                    <Label class="settled-up-text" text="settled up"></Label>
                </StackLayout>
                <Label row="3" col="0" colSpan="5" height="10"></Label>
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="4" col="0">
                    <Image src="~/Assets/ashley.png" class="detail-photo no-margin"></Image>
                    <Label text="Ashley" textAlignment="center" class="owe-name"></Label>
                </StackLayout>
                <Image verticalAlignment="top" src="~/Assets/right-arrow.png"
                    class="owe-arrow" row="4" col="1"></Image>
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="4" col="2">
                    <Image src="~/Assets/yura.png" class="detail-photo no-margin"></Image>
                    <Label text="Yura" textAlignment="center" class="owe-name"></Label>
                </StackLayout>
                <Label text="Rp 26.000" class="detail-owe-ammount" row="4"
                    col="3" colSpan="2"></Label>
            </GridLayout>
        </StackLayout>
        <StackLayout orientation="vertical" class="detail-section">
            <Label text="History" class="detail-section__title"></Label>
            <Label text="29 Oct" class="history-date"></Label>
            <GridLayout columns="auto, auto, auto, *" rows="auto, auto, auto, auto">
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="0" col="0">
                    <Image src="~/Assets/ashley.png" class="detail-photo no-margin"></Image>
                    <Label text="Ashley" textAlignment="center" class="owe-name"></Label>
                </StackLayout>
                <Label verticalAlignment="top" text="has paid" row="0" col="1"
                    class="has-paid-text"></Label>
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="0" col="2">
                    <Image src="~/Assets/brian.png" class="detail-photo no-margin"></Image>
                    <Label text="Brian" textAlignment="center" class="owe-name"></Label>
                </StackLayout>
                <Label verticalAlignment="top" text="Rp 2.000" row="0" col="3"
                    class="detail-owe-ammount"></Label>
                <Label row="1" col="0" colSpan="5" height="10"></Label>
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="2" col="0">
                    <Image src="~/Assets/ashley.png" class="detail-photo no-margin"></Image>
                    <Label text="Ashley" textAlignment="center" class="owe-name"></Label>
                </StackLayout>
                <Label verticalAlignment="top" text="has paid" row="2" col="1"
                    class="has-paid-text"></Label>
                <StackLayout verticalAlignment="top" orientation="vertical"
                    row="2" col="2">
                    <Image src="~/Assets/yura.png" class="detail-photo no-margin"></Image>
                    <Label text="Yura" textAlignment="center" class="owe-name"></Label>
                </StackLayout>
                <Label verticalAlignment="top" text="Rp 20.000" row="2" col="3"
                    class="detail-owe-ammount"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>